<?xml version="1.0" encoding="utf-8" ?>
<suite name="jixianTest" parallel="false">

    <test name="直播管理测试">

    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>